<div class="form-container">
  <div class="form-content">
    <div class="login-content">
      <p class="loginTEXT">Login</p>
      <p class="logo-info">
        Get us some of your information to get a free access to our PromdiFarm
        website.
      </p>
    </div>
    <form class="ema-pass-form">
      <label for="email">Email address</label>
      <input type="text" placeholder="Your email address" />
      <label for="password">Password</label>
      <input class="password" type="text" placeholder="Your password" />
      <button class="btn">Login</button>
    </form>
    <div class="acct">
      <p class="txt-acct">
        Do you have an account already?
        <span class="loginhere-txt"> Login Here! </span>
      </p>
    </div>
  </div>
</div>
